:root {
  margin: 0;
  background-color: black;
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background: pink;
}

.albums {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  align-content: center;
  justify-content: space-evenly;
  color: white;
}